HATCHET_CLIENT_TOKEN=eyJhbGciOiJFUzI1NiIsImtpZCI6IlVlaGlFZyJ9.eyJhdWQiOiJodHRwOi8vbG9jYWxob3N0Ojg4ODgiLCJleHAiOjE3Nzg1OTUwNjUsImdycGNfYnJvYWRjYXN0X2FkZHJlc3MiOiJoYXRjaGV0LWxpdGU6NzA3NyIsImlhdCI6MTc3MDgxOTA2NSwiaXNzIjoiaHR0cDovL2xvY2FsaG9zdDo4ODg4Iiwic2VydmVyX3VybCI6Imh0dHA6Ly9sb2NhbGhvc3Q6ODg4OCIsInN1YiI6IjcwN2QwODU1LTgwYWItNGUxZi1hMTU2LWYxYzQ1NDZjYmY1MiIsInRva2VuX2lkIjoiZTAzM2M5NjYtNjVmYi00MWUwLWIxZWEtMzRlOTU2YWFmMTBlIn0.BOXc0eYFBZcSiwbWliK8TiM7_vyL7yz_-NY6KAfxFt85GgVVoqow_446Pbfz0E3L0_JV0dXxvAJkw1_q4S9tTA
HATCHET_CLIENT_TLS_STRATEGY=none
HATCHET_CLIENT_HOST_PORT=localhost:7077
