site_name: globi
repo_url: https://github.com/mitsustainabledesignlab/globi
site_url: https://mitsustainabledesignlab.github.io/globi
site_description: This is a repository for running energy simulations as part of the Global Building Inventory (globi) project.
site_author: MIT Sustainable Design Lab
edit_uri: edit/main/docs/
repo_name: mitsustainabledesignlab/globi
copyright: Maintained by <a href="https://github.com/mitsustainabledesignlab">MIT Sustainable Design Lab</a>.

nav:
  - Home: index.md
  - Architecture:
      - Simple Overview: architecture-simple.md
      - Detailed Design: architecture-detailed.md
  - Tutorials:
      - Getting Started:
          - Requirements: tutorials/getting-started/requirements.md
      - Run Simulations:
          - Simulation Tasking: tutorials/run-simulations/simulation_tasking.md
  - Reference:
      - CLI: reference/cli.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          setup_commands:
            - import sys
            - sys.path.append('../')
          options:
            show_source: false
            # show_submodules: true

theme:
  name: material
  feature:
    tabs: true
  features:
    - content.code.annotate
    # - toc.follow
    # - toc.integrate
    - navigation.top
    - navigation.path
    - navigation.indexes
    - navigation.sections
    - navigation.tracking
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/mitsustainabledesignlab/globi
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/globi

markdown_extensions:
  - toc:
      permalink: "#"
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - mkdocs-click
